In [ ]:
!gdown --id 1ay5DcH64Qao1HR7CQnR6Cl1hbBMgGqXj -O DOE_High_School_Directory_2014-2015.csv
!gdown --id 13BozEl3JtS43Xuu2Ek9IwMULpWjPH4VC -O SAT_Results.csv

Downloading...
From: https://drive.google.com/uc?id=1ay5DcH64Qao1HR7CQnR6Cl1hbBMgGqXj
To: /content/DOE_High_School_Directory_2014-2015.csv
100% 1.30M/1.30M [00:00<00:00, 20.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=13BozEl3JtS43Xuu2Ek9IwMULpWjPH4VC
To: /content/SAT_Results.csv
100% 28.3k/28.3k [00:00<00:00, 4.14MB/s]

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 8.3 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=94b0bb3ba07f96b69c28b5a3a1b4f9f28627bb9fc74324bf7874a509c06e94ad
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
import pyspark
import csv
sc = pyspark.SparkContext()

ValueError: ignored

In [ ]:
sc

In [ ]:
def findDuplicateSequence(s):
  prev = ""
  tmp = ""
  for i in s:
    if prev == i:
      tmp = tmp+i
    else:
      if len(tmp) > 1:
        yield tmp
      prev = i
      tmp = i

  if len(tmp) > 1:
    yield tmp


next(findDuplicateSequence(iter('aabccccedaaa'))) # 'aa'
#list(findDuplicateSequence(iter('aabccccedaaa'))) # ['aa', 'cccc', 'aaa']

'aa'

In [ ]:
import functools
countWord = lambda text: functools.reduce(lambda a,b: a+len(b.split[' ']), text, 0)

countWord(['Hello there']) # 2
#countWord(['Welcome to the big data exam']) # 6
#countWord(['Hello there', 'Welcome to the big data exam']) # 8

TypeError: ignored

In [ ]:
def everyOtherRecord(reader):
  for line in reader:
    yield line
    next(reader)
    

file = open('SAT_Results.csv')
reader = csv.reader(file)

for line in everyOtherRecord(reader):
  print(line)

['DBN', 'SCHOOL NAME', 'Num of SAT Test Takers', 'SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score']
['21K410', 'ABRAHAM LINCOLN HIGH SCHOOL', '475', '396', '437', '393']
['30Q301', 'ACADEMY FOR CAREERS IN TELEVISION AND FILM', '98', '410', '440', '405']
['18K637', 'ACADEMY FOR CONSERVATION AND THE ENVIRONMENT', '35', '363', '381', '367']
['17K751', 'ACADEMY FOR HEALTH CAREERS', 's', 's', 's', 's']
['11X270', 'ACADEMY FOR SCHOLARSHIP AND ENTREPRENEURSHIP: A COLLEGE BOARD SCHOOL', '56', '386', '394', '361']
['14K404', 'ACADEMY FOR YOUNG WRITERS', '68', '387', '357', '381']
['13K336', 'ACADEMY OF BUSINESS AND COMMUNITY DEVELOPMENT', '9', '439', '374', '418']
['24Q264', 'ACADEMY OF FINANCE AND ENTERPRISE', '89', '405', '454', '421']
['19K618', 'ACADEMY OF INNOVATIVE TECHNOLOGY', '60', '371', '371', '354']
['32K552', 'ACADEMY OF URBAN PLANNING', '67', '342', '364', '354']
['07X600', 'ALFRED E. SMITH CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '76', '394', '400', '364']
['08X376', 'ANTONIA PANTOJA PREPARATORY ACADEMY, A COLLEGE BOARD SCHOOL', 's', 's', 's', 's']
['08X367', 'ARCHIMEDES ACADEMY FOR MATH, SCIENCE AND TECHNOLOGY APPLICATIONS', 's', 's', 's', 's']
['18K589', 'ARTS & MEDIA PREPARATORY ACADEMY', '48', '361', '360', '359']
['23K646', 'ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL', '7', '311', '371', '311']
['27Q400', 'AUGUST MARTIN HIGH SCHOOL', '101', '377', '371', '360']
['14K923', 'AUTOMOTIVE HIGH SCHOOL YABC', 's', 's', 's', 's']
['30Q580', 'BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION', '61', '524', '568', '544']
['01M696', 'BARD HIGH SCHOOL EARLY COLLEGE', '130', '624', '604', '628']
['02M411', 'BARUCH COLLEGE CAMPUS HIGH SCHOOL', '104', '496', '563', '518']
['26Q495', 'BAYSIDE HIGH SCHOOL', '708', '462', '523', '464']
['03M479', 'BEACON HIGH SCHOOL', '261', '577', '575', '592']
['13K575', 'BEDFORD STUYVESANT PREPARATORY HIGH SCHOOL', '13', '398', '391', '394']
['13K670', 'BENJAMIN BANNEKER ACADEMY', '185', '471', '472', '448']
['16K455', 'BOYS AND GIRLS HIGH SCHOOL', '131', '365', '370', '362']
['11X290', 'BRONX ACADEMY OF HEALTH CAREERS', '69', '387', '365', '383']
['11X545', 'BRONX AEROSPACE HIGH SCHOOL', '46', '388', '393', '382']
['08X432', 'BRONX BRIDGES HIGH SCHOOL', 's', 's', 's', 's']
['09X260', 'BRONX CENTER FOR SCIENCE AND MATHEMATICS', '81', '459', '480', '457']
['09X324', 'BRONX EARLY COLLEGE ACADEMY FOR TEACHING & LEARNING', 's', 's', 's', 's']
['09X227', 'BRONX EXPEDITIONARY LEARNING HIGH SCHOOL', '39', '324', '376', '349']
['07X381', 'BRONX HAVEN HIGH SCHOOL', 's', 's', 's', 's']
['10X439', 'BRONX HIGH SCHOOL FOR LAW AND COMMUNITY SERVICE', '65', '366', '364', '352']
['11X418', 'BRONX HIGH SCHOOL FOR THE VISUAL ARTS', '48', '419', '433', '416']
['09X412', 'BRONX HIGH SCHOOL OF BUSINESS', '34', '356', '376', '351']
['09X403', 'BRONX INTERNATIONAL HIGH SCHOOL', '49', '314', '312', '339']
['12X267', 'BRONX LATIN', '36', '408', '432', '411']
['07X527', 'BRONX LEADERSHIP ACADEMY II HIGH SCHOOL', '62', '362', '378', '363']
['09X505', 'BRONX SCHOOL FOR LAW, GOVERNMENT AND JUSTICE', '80', '404', '418', '402']
['08X269', 'BRONX STUDIO SCHOOL FOR WRITERS AND ARTISTS', 's', 's', 's', 's']
['13K553', 'BROOKLYN ACADEMY HIGH SCHOOL', '8', '435', '383', '379']
['18K578', 'BROOKLYN BRIDGE ACADEMY', '17', '384', '362', '351']
['23K493', 'BROOKLYN COLLEGIATE: A COLLEGE BOARD SCHOOL', '60', '389', '409', '387']
['23K643', 'BROOKLYN DEMOCRACY ACADEMY', '11', '349', '338', '331']
['16K498', 'BROOKLYN HIGH SCHOOL FOR LAW AND TECHNOLOGY', '46', '362', '372', '358']
['15K656', 'BROOKLYN HIGH SCHOOL OF THE ARTS', '141', '426', '421', '411']
['19K639', 'BROOKLYN LAB SCHOOL', '57', '360', '385', '363']
['14K488', 'BROOKLYN PREPARATORY HIGH SCHOOL', '42', '367', '373', '350']
['17K548', 'BROOKLYN SCHOOL FOR MUSIC & THEATRE', '48', '385', '393', '373']
['21K690', 'BROOKLYN STUDIO SECONDARY SCHOOL', '119', '429', '449', '435']
['18K567', 'BROOKLYN THEATRE ARTS HIGH SCHOOL', '54', '383', '358', '377']
['32K564', 'BUSHWICK COMMUNITY HIGH SCHOOL', '24', '359', '317', '358']
['32K549', 'BUSHWICK SCHOOL FOR SOCIAL JUSTICE', '75', '348', '353', '334']
['02M393', 'BUSINESS OF SPORTS SCHOOL', 's', 's', 's', 's']
['01M650', 'CASCADES HIGH SCHOOL', '18', '417', '418', '411']
['04M555', 'CENTRAL PARK EAST HIGH SCHOOL', '73', '405', '421', '395']
['02M615', 'CHELSEA CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '83', '399', '418', '390']
['11X415', 'CHRISTOPHER COLUMBUS HIGH SCHOOL', '121', '367', '361', '353']
['13K674', 'CITY POLYTECHNIC HIGH SCHOOL OF ENGINEERING, ARCHITECTURE, AND TECHNOLOGY', '20', '441', '499', '413']
['17K600', 'CLARA BARTON HIGH SCHOOL', '259', '425', '413', '413']
['15K519', 'COBBLE HILL SCHOOL OF AMERICAN STUDIES', '77', '398', '402', '385']
['05M362', 'COLUMBIA SECONDARY SCHOOL FOR MATH, SCIENCE, AND ENGINEERING', 's', 's', 's', 's']
['07X427', 'COMMUNITY SCHOOL FOR SOCIAL JUSTICE', '43', '361', '359', '357']
['07X321', 'CROTONA ACADEMY HIGH SCHOOL', '9', '379', '364', '382']
['18K629', 'CULTURAL ACADEMY FOR THE ARTS AND SCIENCES', '33', '393', '395', '381']
['19K659', 'CYPRESS HILLS COLLEGIATE PREPARATORY SCHOOL', '51', '376', '385', '368']
['10X549', 'DISCOVERY HIGH SCHOOL', '55', '372', '379', '364']
['13K265', 'DR. SUSAN S. MCKINNEY SECONDARY SCHOOL OF THE ARTS', '29', '352', '349', '373']
['12X271', 'EAST BRONX ACADEMY FOR THE FUTURE', '46', '366', '378', '358']
['19K409', 'EAST NEW YORK FAMILY ACADEMY', '54', '416', '432', '394']
['25Q281', 'EASTsWEST SCHOOL OF INTERNATIONAL STUDIES', '59', '416', '463', '392']
['03M505', 'EDWARD A. REYNOLDS WEST SIDE HIGH SCHOOL', '35', '401', '369', '351']
['02M416', 'ELEANOR ROOSEVELT HIGH SCHOOL', '127', '572', '594', '592']
['02M394', 'EMMA LAZARUS HIGH SCHOOL', '79', '319', '512', '357']
['17K467', 'ERASMUS YABC', 's', 's', 's', 's']
['29Q265', 'EXCELSIOR PREPARATORY HIGH SCHOOL', '49', '402', '398', '402']
['21K572', 'EXPEDITIONARY LEARNING SCHOOL FOR COMMUNITY LEADERS', '40', '353', '370', '356']
['02M303', 'FACING HISTORY SCHOOL, THE', '76', '353', '358', '340']
['19K502', 'FDNY HIGH SCHOOL FOR FIRE AND LIFE SAFETY', '37', '341', '349', '333']
['03M485', 'FIORELLO H. LAGUARDIA HIGH SCHOOL OF MUSIC & ART AND PERFORMING ARTS', '531', '566', '564', '577']
['25Q263', 'FLUSHING INTERNATIONAL HIGH SCHOOL', '45', '314', '417', '318']
['02M288', 'FOOD AND FINANCE HIGH SCHOOL', '62', '409', '393', '392']
['10X438', 'FORDHAM LEADERSHIP ACADEMY FOR BUSINESS AND TECHNOLOGY', '63', '367', '385', '367']
['28Q440', 'FOREST HILLS HIGH SCHOOL', '762', '456', '497', '454']
['20K490', 'FORT HAMILTON HIGH SCHOOL', '694', '417', '478', '411']
['14K632', 'FRANCES PERKINS ACADEMY', '12', '382', '372', '368']
['20K505', 'FRANKLIN DELANO ROOSEVELT HIGH SCHOOL', '385', '383', '486', '375']
['19K420', 'FRANKLIN K. LANE HIGH SCHOOL', 's', 's', 's', 's']
['30Q501', 'FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL', '174', '504', '496', '494']
['09X517', 'FREDERICK DOUGLASS ACADEMY III SECONDARY SCHOOL', '50', '368', '384', '369']
['16K393', 'FREDERICK DOUGLASS ACADEMY IV SECONDARY SCHOOL', '20', '355', '355', '358']
['23K514', 'FREDERICK DOUGLASS ACADEMY VII HIGH SCHOOL', '55', '361', '371', '359']
['08X295', 'GATEWAY SCHOOL FOR ENVIRONMENTAL RESEARCH AND TECHNOLOGY', '41', '416', '390', '394']
['79Q950', 'GED PLUS s CITYWIDE', '8', '496', '400', '426']
['06M457', 'GEORGE WASHINGTON YABC', '7', '394', '357', '346']
['11X541', 'GLOBAL ENTERPRISE HIGH SCHOOL', '57', '372', '382', '375']
['10X660', 'GRACE DODGE CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '73', '362', '382', '356']
['02M374', 'GRAMERCY ARTS HIGH SCHOOL', '60', '391', '391', '394']
['06M552', 'GREGORIO LUPERON HIGH SCHOOL FOR SCIENCE AND MATHEMATICS', '56', '339', '349', '326']
['05M285', 'HARLEM RENAISSANCE HIGH SCHOOL', '29', '357', '318', '333']
['02M586', 'HARVEY MILK HIGH SCHOOL', '9', '458', '416', '429']
['01M292', 'HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES', '29', '355', '404', '363']
['08X408', 'HERBERT H. LEHMAN YABC', '6', '402', '373', '413']
['24Q550', 'HIGH SCHOOL FOR ARTS AND BUSINESS', '138', '391', '403', '380']
['19K504', 'HIGH SCHOOL FOR CIVIL RIGHTS', '47', '363', '349', '342']
['11X544', 'HIGH SCHOOL FOR CONTEMPORARY ARTS', '55', '383', '378', '365']
['02M400', 'HIGH SCHOOL FOR ENVIRONMENTAL STUDIES', '263', '465', '493', '461']
['06M468', 'HIGH SCHOOL FOR HEALTH CAREERS AND SCIENCES', '24', '400', '422', '402']
['18K617', 'HIGH SCHOOL FOR INNOVATION IN ADVERTISING AND MEDIA', '37', '404', '393', '386']
['03M492', 'HIGH SCHOOL FOR LAW, ADVOCACY AND COMMUNITY JUSTICE', '66', '396', '398', '402']
['28Q690', 'HIGH SCHOOL FOR LAW ENFORCEMENT AND PUBLIC SAFETY', '74', '406', '406', '384']
['06M463', 'HIGH SCHOOL FOR MEDIA AND COMMUNICATIONS', '63', '369', '380', '349']
['17K546', 'HIGH SCHOOL FOR PUBLIC SERVICE: HEROES OF TOMORROW', '79', '418', '441', '414']
['10X433', 'HIGH SCHOOL FOR TEACHING AND THE PROFESSIONS', '57', '370', '371', '365']
['17K537', 'HIGH SCHOOL FOR YOUTH AND COMMUNITY DEVELOPMENT AT ERASMUS', '73', '338', '349', '340']
['10X696', 'HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE', '92', '636', '648', '636']
['03M494', 'HIGH SCHOOL OF ARTS AND TECHNOLOGY', '75', '433', '433', '411']
['02M489', 'HIGH SCHOOL OF ECONOMICS AND FINANCE', '167', '443', '489', '442']
['02M296', 'HIGH SCHOOL OF HOSPITALITY MANAGEMENT', '58', '374', '375', '362']
['20K485', 'HIGH SCHOOL OF TELECOMMUNICATION ARTS AND TECHNOLOGY', '238', '425', '474', '424']
['08X560', 'HIGH SCHOOL X560 s BRONX ACADEMY HIGH SCHOOL', '9', '404', '368', '399']
['28Q325', 'HILLSIDE ARTS & LETTERS ACADEMY', 's', 's', 's', 's']
['07X500', 'HOSTOSsLINCOLN ACADEMY OF SCIENCE', '66', '420', '426', '411']
['29Q498', 'HUMANITIES & ARTS MAGNET HIGH SCHOOL', '62', '393', '381', '377']
['02M544', 'INDEPENDENCE HIGH SCHOOL', '14', '389', '371', '335']
['03M404', 'INNOVATION DIPLOMA PLUS', '12', '416', '403', '381']
['02M407', 'INSTITUTE FOR COLLABORATIVE EDUCATION', '54', '492', '465', '467']
['07X334', 'INTERNATIONAL COMMUNITY HIGH SCHOOL', '34', '310', '324', '311']
['24Q530', 'INTERNATIONAL HIGH SCHOOL AT LAGUARDIA COMMUNITY COLLEGE', '69', '326', '409', '329']
['02M438', 'INTERNATIONAL HIGH SCHOOL AT UNION SQUARE', 's', 's', 's', 's']
['18K563', 'IT TAKES A VILLAGE ACADEMY', '56', '313', '320', '330']
['28Q350', 'JAMAICA GATEWAY TO THE SCIENCES', '25', '430', '452', '425']
['02M313', 'JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDITIONARY LEARNING', '69', '408', '390', '390']
['08X650', 'JANE ADDAMS HIGH SCHOOL FOR ACADEMIC CAREERS', '78', '377', '359', '376']
['75X754', 'J. M. RAPPORT SCHOOL CAREER DEVELOPMENT', 's', 's', 's', 's']
['25Q425', 'JOHN BOWNE HIGH SCHOOL', '558', '397', '451', '395']
['10X475', 'JOHN F. KENNEDY HIGH SCHOOL', '109', '351', '362', '339']
['14K071', 'JUAN MOREL CAMPOS SECONDARY SCHOOL', '102', '365', '361', '359']
['10X268', 'KINGSBRIDGE INTERNATIONAL HIGH SCHOOL', '52', '304', '356', '302']
['18K569', 'KURT HAHN EXPEDITIONARY LEARNING SCHOOL', '43', '368', '378', '346']
['29Q494', 'LAW, GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL', '52', '385', '377', '377']
['09X276', 'LEADERSHIP INSTITUTE', '30', '361', '353', '367']
['12X428', 'LEARNING TO WORK YABC AT MONROE ACADEMY', 's', 's', 's', 's']
['02M429', 'LEGACY SCHOOL FOR INTEGRATED STUDIES', '29', '356', '357', '349']
['21K728', 'LIBERATION DIPLOMA PLUS', '10', '411', '369', '373']
['21K559', 'LIFE ACADEMY HIGH SCHOOL FOR FILM AND MUSIC', '40', '384', '375', '365']
['30Q450', 'LONG ISLAND CITY HIGH SCHOOL', '392', '403', '420', '395']
['01M515', 'LOWER EAST SIDE PREPARATORY HIGH SCHOOL', '112', '332', '557', '316']
['14K586', 'LYONS COMMUNITY SCHOOL', '31', '371', '377', '355']
['02M542', 'MANHATTAN BRIDGES HIGH SCHOOL', '66', '336', '378', '344']
['04M435', 'MANHATTAN CENTER FOR SCIENCE AND MATHEMATICS', '375', '461', '514', '455']
['03M541', 'MANHATTAN / HUNTER SCIENCE HIGH SCHOOL', '111', '473', '506', '467']
['03M283', 'MANHATTAN THEATRE LAB HIGH SCHOOL', '27', '406', '379', '408']
['10X477', 'MARBLE HILL HIGH SCHOOL FOR INTERNATIONAL STUDIES', '99', '414', '435', '414']
['26Q435', 'MARTIN VAN BUREN HIGH SCHOOL', '334', '391', '397', '384']
['17K590', 'MEDGAR EVERS COLLEGE PREPARATORY SCHOOL', '165', '476', '481', '479']
['23K647', 'METROPOLITAN DIPLOMA PLUS HIGH SCHOOL', '17', '350', '346', '332']
['24Q520', 'MIDDLE COLLEGE HIGH SCHOOL AT LAGUARDIA COMMUNITY COLLEGE', '58', '399', '393', '385']
['08X312', 'MILLENNIUM ART ACADEMY', '67', '387', '402', '375']
['12X690', 'MONROE ACADEMY FOR BUSINESS/LAW', '31', '375', '387', '376']
['09X297', 'MORRIS ACADEMY FOR COLLABORATIVE STUDIES', '38', '386', '386', '376']
['05M304', 'MOTT HALL HIGH SCHOOL', '54', '413', '399', '398']
['19K583', 'MULTICULTURAL HIGH SCHOOL', '29', '279', '322', '286']
['30Q555', 'NEWCOMERS HIGH SCHOOL', '143', '323', '475', '329']
['02M543', 'NEW DESIGN HIGH SCHOOL', '73', '391', '395', '382']
['01M539', 'NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND MATH HIGH SCHOOL', '159', '522', '574', '525']
['24Q455', 'NEWTOWN HIGH SCHOOL', '320', '383', '440', '380']
['11X513', 'NEW WORLD HIGH SCHOOL', '72', '332', '381', '335']
['25Q792', 'NORTH QUEENS COMMUNITY HIGH SCHOOL', '7', '379', '421', '377']
['02M412', 'N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES', '114', '537', '590', '550']
['18K635', 'OLYMPUS ACADEMY', '7', '400', '370', '370']
['02M298', 'PACE HIGH SCHOOL', '85', '423', '438', '432']
['24Q296', 'PAN AMERICAN INTERNATIONAL HIGH SCHOOL', '55', '317', '323', '311']
['04M495', 'PARK EAST HIGH SCHOOL', '51', '373', '379', '376']
['29Q259', 'PATHWAYS COLLEGE PREPARATORY SCHOOL: A COLLEGE BOARD SCHOOL', '46', '401', '397', '375']
['12X278', 'PEACE AND DIVERSITY ACADEMY', '34', '390', '401', '364']
['12X262', 'PERFORMANCE CONSERVATORY HIGH SCHOOL', '30', '361', '353', '360']
['79X490', 'PHOENIX ACADEMY', '9', '367', '370', '360']
['29Q283', 'PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOARD SCHOOL', '43', '370', '367', '363']
['14K474', 'PROGRESS HIGH SCHOOL FOR PROFESSIONAL CAREERS', '144', '364', '379', '371']
['75M035', 'P.S. 035', 's', 's', 's', 's']
['75Q256', 'P.S. Q256', 's', 's', 's', 's']
['75X012', 'P.S. X012 LEWIS AND CLARK SCHOOL', 's', 's', 's', 's']
['28Q310', 'QUEENS COLLEGIATE: A COLLEGE BOARD SCHOOL', '68', '420', '445', '400']
['27Q302', 'QUEENS HIGH SCHOOL FOR INFORMATION, RESEARCH, AND TECHNOLOGY', '44', '391', '401', '364']
['26Q566', 'QUEENS HIGH SCHOOL OF TEACHING, LIBERAL ARTS AND THE SCIENCES', '175', '425', '434', '420']
['29Q248', 'QUEENS PREPARATORY ACADEMY', '52', '360', '380', '359']
['25Q252', 'QUEENS SCHOOL OF INQUIRY, THE', '58', '455', '498', '443']
['21K344', 'RACHEL CARSON HIGH SCHOOL FOR COASTAL STUDIES', '54', '402', '427', '408']
['08X293', 'RENAISSANCE HIGH SCHOOL FOR MUSICAL THEATER & TECHNOLOGY', '52', '384', '385', '389']
['02M580', 'RICHARD R. GREEN HIGH SCHOOL OF TEACHING', '84', '408', '384', '403']
['10X141', 'RIVERDALE / KINGSBRIDGE ACADEMY (MIDDLE SCHOOL / HIGH SCHOOL 141)', '113', '438', '455', '440']
['24Q560', 'ROBERT F. WAGNER, JR. SECONDARY SCHOOL FOR ARTS AND TECHNOLOGY', '80', '443', '447', '440']
['07X655', 'SAMUEL GOMPERS CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '47', '398', '416', '370']
['27Q323', "SCHOLARS' ACADEMY", '89', '499', '537', '496']
['79M645', 'SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION', 's', 's', 's', 's']
['09X404', 'SCHOOL FOR EXCELLENCE', '32', '363', '360', '351']
['15K497', 'SCHOOL FOR INTERNATIONAL STUDIES', '64', '405', '415', '392']
['02M413', 'SCHOOL OF THE FUTURE HIGH SCHOOL', '66', '517', '533', '515']
['17K543', 'SCIENCE, TECHNOLOGY AND RESEARCH EARLY COLLEGE HIGH SCHOOL AT ERASMUS', '69', '457', '462', '441']
['15K462', 'SECONDARY SCHOOL FOR LAW', '59', '398', '411', '394']
['07X221', 'SOUTH BRONX PREPARATORY: A COLLEGE BOARD SCHOOL', '65', '364', '378', '348']
['75R025', 'SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25', 's', 's', 's', 's']
['08X507', 'STEVENSON YABC', 's', 's', 's', 's']
['15K667', 'SUNSET PARK HIGH SCHOOL', 's', 's', 's', 's']
['02M519', 'TALENT UNLIMITED HIGH SCHOOL', '81', '469', '472', '475']
['10X225', 'THEATRE ARTS PRODUCTION COMPANY SCHOOL', '59', '405', '391', '394']
['16K688', 'THE BROOKLYN ACADEMY OF GLOBAL FINANCE', 's', 's', 's', 's']
['03M403', 'THE GLOBAL LEARNING COLLABORATIVE', 's', 's', 's', 's']
['17K528', 'THE HIGH SCHOOL FOR GLOBAL CITIZENSHIP', '46', '403', '385', '388']
['02M600', 'THE HIGH SCHOOL OF FASHION INDUSTRIES', '335', '423', '423', '411']
['31R080', 'THE MICHAEL J. PETRIDES SCHOOL', '107', '472', '488', '466']
['02M551', 'THE URBAN ASSEMBLY NEW YORK HARBOR SCHOOL', '77', '405', '423', '384']
['03M402', 'THE URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS', 's', 's', 's', 's']
['28Q620', 'THOMAS A. EDISON CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '422', '452', '478', '442']
['05M670', 'THURGOOD MARSHALL ACADEMY FOR LEARNING AND SOCIAL CHANGE', '66', '396', '402', '404']
['25Q525', 'TOWNSEND HARRIS HIGH SCHOOL', '278', '621', '651', '638']
['02M500', 'UNITY CENTER FOR URBAN TECHNOLOGIES', '25', '370', '349', '351']
['01M448', 'UNIVERSITY NEIGHBORHOOD HIGH SCHOOL', '91', '383', '423', '366']
['18K642', 'URBAN ACTION ACADEMY', '40', '376', '385', '374']
['02M305', 'URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE', '50', '375', '388', '385']
['13K527', 'URBAN ASSEMBLY INSTITUTE OF MATH AND SCIENCE FOR YOUNG WOMEN', 's', 's', 's', 's']
['07X548', 'URBAN ASSEMBLY SCHOOL FOR CAREERS IN SPORTS', '44', '387', '411', '383']
['05M369', 'URBAN ASSEMBLY SCHOOL FOR THE PERFORMING ARTS', '56', '360', '353', '364']
['02M300', 'URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTION, THE', '48', '404', '449', '416']
['02M449', 'VANGUARD HIGH SCHOOL', '72', '395', '416', '388']
['24Q744', 'VOYAGES PREPARATORY', 's', 's', 's', 's']
['06M348', 'WASHINGTON HEIGHTS EXPEDITIONARY LEARNING SCHOOL', '70', '380', '395', '399']
['02M473', 'WASHINGTON IRVING YABC', 's', 's', 's', 's']
['10X243', 'WEST BRONX ACADEMY FOR THE FUTURE', '26', '382', '406', '370']
['19K660', 'W. H. MAXWELL CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '74', '370', '369', '363']
['21K620', 'WILLIAM E. GRADY CAREER AND TECHNICAL EDUCATION HIGH SCHOOL', '95', '394', '414', '376']
['14K561', 'WILLIAMSBURG PREPARATORY SCHOOL', '113', '397', '410', '380']
['08X282', "WOMEN'S ACADEMY OF EXCELLENCE", '44', '407', '386', '378']
['25Q285', 'WORLD JOURNALISM PREPARATORY: A COLLEGE BOARD SCHOOL', '63', '471', '489', '481']
['24Q457', 'YOUNG ADULT BOROUGH CENTER AT ARTS AND BUSINESS HS', 's', 's', 's', 's']
['31R607', 'YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS', '10', '405', '375', '370']
['04M610', "YOUNG WOMEN'S LEADERSHIP SCHOOL", '70', '432', '446', '448']
['28Q896', "YOUNG WOMEN'S LEADERSHIP SCHOOL, QUEENS", '68', '439', '445', '432']

RuntimeError: ignored

In [ ]:
# We're creating two RDD, one is from the sample README file
# and the other is directly from a list within the notebook.

rdd = sc.textFile('sample_data/README.md')
testRdd = sc.parallelize([1,2,3,4,5])

In [ ]:
# Here, we're showing the difference between map() and flatMap()
# doing the line split and get back the first 3 elements, take(3).
# - map() is a one-to-one mapping, just like Python, so the first
# line prints out 3 lists, each consists words per each.
# - flatMap() is a one-to-many mapping, like MapReduce's map(). So
# the second line prints out only 3 words.

wordsPerLine = rdd.map(lambda line: line.split()).take(3)
words = rdd.flatMap(lambda line: line.split()).take(3)

print('%s\n\n%s' % (wordsPerLine, words))

[['This', 'directory', 'includes', 'a', 'few', 'sample', 'datasets', 'to', 'get', 'you', 'started.'], [], ['*', '`california_housing_data*.csv`', 'is', 'California', 'housing', 'data', 'from', 'the', '1990', 'US']]

['This', 'directory', 'includes']

In [ ]:
# This is the word count example with Spark using the approach
# shown in the slides, i.e. staying true to the MapReduce paradigm.
# Note that groupByKey() will sort and group everything together by
# keys first. Then the function in mapValues() will each get applied
# per each (key, list of values) pair. This could be an issue if we
# have a pair with lots of values since all of the values have to be
# stored in memory.

wc = rdd.flatMap(lambda line: line.split()) \
        .map(lambda x: (x.lower(), 1)) \
        .groupByKey() \
        .mapValues(lambda values: sum(values))
wc.take(2)

[('this', 1), ('directory', 1)]

In [ ]:
# This is another approach with reduceByKey() instead of groupByKey().
# The reduce function provided for reduceByKey() only takes 2 params
# at a time, thus, doesn't suffer the scalability issue. It also has
# better benefits in term of parallelism.

wc = rdd.flatMap(lambda line: line.split()) \
        .map(lambda x: (x.lower(), 1)) \
        .reduceByKey(lambda x,y: x+y)
wc.take(2)

[('this', 1), ('directory', 1)]

In [ ]:
# If we'd like to compute the top 3 most popular words in Spark. We
# can use the RDD's top() function directly. This is much easier
# than the two-step MapReduce job, where we had to first compute the
# top 3 words per partition, then another top 3 on top of that. In
# fact, this is exactly how Spark RDD's top() function is implemented.
# More info can be found here:
# https://github.com/apache/spark/blob/master/python/pyspark/rdd.py#L1459
wc.top(3, key=lambda x: x[1])

[('is', 4), ('*', 3), ('a', 3)]

## LAB 4 - Task 1

In [ ]:
SAT_FN = 'SAT_Results.csv'
HSD_FN = 'DOE_High_School_Directory_2014-2015.csv'

In [ ]:
# We read the SAT score to our RDD. Note that the use_unicode can be
# changed accordingly to your data file to handle Unicode. If you cannot
# parse your data due to an 'utf8' or 'ascii' decoding issue, it might
# be a good thing to try flipping the use_unicode parameter here.

sat = sc.textFile(SAT_FN, use_unicode=True).cache()

# This line for us to list the column index and column names to see
# which column we need to use for our task. In this case, we're
# interested in the number of test takers (#2) and the math score (#4).
list(enumerate(sat.first().split(',')))

[(0, 'DBN'),
 (1, 'SCHOOL NAME'),
 (2, 'Num of SAT Test Takers'),
 (3, 'SAT Critical Reading Avg. Score'),
 (4, 'SAT Math Avg. Score'),
 (5, 'SAT Writing Avg. Score')]

In [ ]:
# Note that, our data input includes a header line that we don't want to
# use in analysis. We can remove the header line from our RDD by doing
# a 'filter' to remove all rows that matches the header like below. Though
# this works, it means that we have to apply the filter function on *all*
# row, which could be a lot of computation.

noHeaderRDD = sat.filter(lambda x: not x.startswith('DBN,SCHOOL'))
print(sat.first())
print(noHeaderRDD.first())

DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECONDARY SCHOOL,16,395,400,387

In [ ]:
# Alternatively, we can perform the header checking per-partition, instead
# of per-row like below. mapPartitions() is another type of map operators
# in Spark that is similar to Hadoop Streaming's map(). It is many-to-many.
# RDD in Spark are divided into partitions (as we read or as provided by
# HDFS), each partition can be processed in parallel using a function
# supplied to the mapPartitions() call.
# 
# In addition to mapPartitions(), Spark also provides a variation called
# mapPartitionsWithIndex() that provides information on which partition
# we are currently processing. Indeed, mapPartitionsWithIndex() is the
# the operator with the lowest overhead (since mapPartitions() get mapped
# to mapPartitionsWithIndex) and also the most efficient one among all the
# map operators.
#
# So our logic below is to use the partition index to check if we're hitting
# the header (aka the first partition). If so, we just skip the first row.

def extractScores(partId, records):
    if partId==0:
        next(records)
    import csv
    reader = csv.reader(records)
    for row in reader:
        if row[2]!='s': # to filter our bad-quality data
            (dbn,takers,score) = (row[0], int(row[2]), int(row[4]))
            yield (dbn, (score*takers, takers))

satScores = sat.mapPartitionsWithIndex(extractScores)
satScores.take(5)

[('02M047', (6400, 16)),
 ('21K410', (207575, 475)),
 ('30Q301', (43120, 98)),
 ('17K382', (22066, 59)),
 ('18K637', (13335, 35))]

In [ ]:
# Here we do the same thing with the school directory data
schools = sc.textFile(HSD_FN, use_unicode=True).cache()
list(enumerate(schools.first().split(',')))

[(0, 'dbn'),
 (1, 'school_name'),
 (2, 'boro'),
 (3, 'building_code'),
 (4, 'phone_number'),
 (5, 'fax_number'),
 (6, 'grade_span_min'),
 (7, 'grade_span_max'),
 (8, 'expgrade_span_min'),
 (9, 'expgrade_span_max'),
 (10, 'bus'),
 (11, 'subway'),
 (12, 'primary_address_line_1'),
 (13, 'city'),
 (14, 'state_code'),
 (15, 'zip'),
 (16, 'website'),
 (17, 'total_students'),
 (18, 'campus_name'),
 (19, 'school_type'),
 (20, 'overview_paragraph'),
 (21, 'program_highlights'),
 (22, 'language_classes'),
 (23, 'advancedplacement_courses'),
 (24, 'online_ap_courses'),
 (25, 'online_language_courses'),
 (26, 'extracurricular_activities'),
 (27, 'psal_sports_boys'),
 (28, 'psal_sports_girls'),
 (29, 'psal_sports_coed'),
 (30, 'school_sports'),
 (31, 'partner_cbo'),
 (32, 'partner_hospital'),
 (33, 'partner_highered'),
 (34, 'partner_cultural'),
 (35, 'partner_nonprofit'),
 (36, 'partner_corporate'),
 (37, 'partner_financial'),
 (38, 'partner_other'),
 (39, 'addtl_info1'),
 (40, 'addtl_info2'),
 (41, 'start_time'),
 (42, 'end_time'),
 (43, 'se_services'),
 (44, 'ell_programs'),
 (45, 'school_accessibility_description'),
 (46, 'number_programs'),
 (47, 'priority01'),
 (48, 'priority02'),
 (49, 'priority03'),
 (50, 'priority04'),
 (51, 'priority05'),
 (52, 'priority06'),
 (53, 'priority07'),
 (54, 'priority08'),
 (55, 'priority09'),
 (56, 'priority10'),
 (57, 'Location 1')]

In [ ]:
def extractSchools(partId, list_of_records):
    if partId==0: 
        next(list_of_records) # skipping the first line
    import csv
    reader = csv.reader(list_of_records)
    for row in reader:
        if len(row)==58 and row[17].isdigit():
            (dbn, boro, total_students) = (row[0], row[2], int(row[17]))
            if total_students>500: # filter to keep the large schools
                yield (dbn, boro)

largeSchools = schools.mapPartitionsWithIndex(extractSchools)

In [ ]:
scores = largeSchools.join(satScores).values() \
    .reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1])) \
    .mapValues(lambda x: int(x[0]/x[1]))

In [ ]:
scores.collect()

[('Bronx', 470),
 ('Staten Island', 477),
 ('Manhattan', 514),
 ('Brooklyn', 487),
 ('Queens', 474)]

## LAB 4 - Task 1 -- Using DataFrame

In [ ]:
# Spark's DataFrame is part of Spark SQL, thus, we need to import
# the appropriate package in order to use Spark's DataFrame and SQL
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)

In [ ]:
dfSchools = spark.read.load(HSD_FN, format='csv', header=True, inferSchema=True)
dfSchools = dfSchools.na.drop(subset=['boro'])
dfSchools = dfSchools.filter(dfSchools['total_students']>500)
dfSchools = dfSchools.select('dbn', 'boro')
dfSchools.count()

176

In [ ]:
dfScores = spark.read.load(SAT_FN, format='csv', header=True, inferSchema=True)
dfScores = dfScores.select(
    'DBN',
    dfScores['`SAT Math Avg. Score`'].cast('int').alias('score'),
    dfScores['Num of SAT Test Takers'].cast('int').alias('ntakers')
).na.drop()
dfScores1 = dfScores.select(
    'DBN',
    (dfScores.score*dfScores.ntakers).alias('sum'),
    'ntakers')
dfScores1.head()

Row(DBN='02M047', sum=6400, ntakers=16)

In [ ]:
dfResults = dfSchools.join(dfScores1, dfSchools.dbn==dfScores1.DBN, how='inner')
dfResults = dfResults.groupBy('boro').sum('sum', 'ntakers')
dfResults = dfResults.withColumn('avg', (dfResults[1]/dfResults[2]).cast('int'))
dfResults = dfResults.select('boro', 'avg')
dfResults.show()

+-------------+---+
|         boro|avg|
+-------------+---+
|       Queens|474|
|     Brooklyn|487|
|Staten Island|477|
|    Manhattan|514|
|        Bronx|470|
+-------------+---+

## LAB 4 - Task 2